<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Artists</title>
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<h1 style="color: antiquewhite">Suche nach einem*er Künstler*in:</h1>
<h2 style="color: antiquewhite" sec:authorize="!isAuthenticated()">Logge dich ein oder registriere dich, um nach Konzerten zu suchen.</h2>
<div sec:authorize="isAuthenticated()" id="app-1">
    <input class="form-control mr-sm-2" v-model="artist">
    <button v-on:click="handleInput(artist)">Suche</button>

    <h3 style="color: beige"> Konzerte f&uuml;r {{ artist }}</h3>

    <div class="row md-3">
        <div v-for="item in message" class="card mx-md-3 bg-secondary" style="width: 18rem;">
            <div class="card-body text-white">
                <h5 class="card-title text-white">{{ item.displayName }}</h5>
                <h6 class="card-subtitle mb-2 text-white">{{ item.venue.displayName }}</h6>
                <p class="card-text text-white">{{ item.location.city }}</p>
                <p class="card-text text-white">{{ item.start.date }}</p>
                <a href="{{item.uri}}" target="_blank" class="card-text text-white">Mehr Infos und Ticketpreise</a>
            </div>
        </div>
    </div>
</div>

<script>

    new Vue({
        el: '#app-1',
        data: {
            message: ""
        },
        methods: {
            handleInput(artist) {
                artist.replaceAll(" ", "+")
                console.log(artist)
                fetch("https://api.songkick.com/api/3.0/events.json?apikey=ILcx4JpR303NAKE8;artist_name=" + artist)
                    .then(response => response.json())
                    .then(resp => this.message = resp.resultsPage.results.event);

            }
        }
    });
</script>
</body>
</html>