<!DOCTYPE html>
<html th:replace="~{layout :: layout (~{::body})}" lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>EVENTTIME</title>

</head>
<body>
    <h1 style="color: antiquewhite">Willkommen bei EVENTTIME</h1>
    <h2 style="color: antiquewhite" th:if="${name}" th:text="'Willkommen ' + ${name} + '!'"></h2>
    <h4 style="color: antiquewhite">Finde hier ganz bequem Konzerte deiner <a href="artists">Lieblingsk&uuml;nstler*Innen</a> oder an <a href="locations">bestimmten Orten.</a></h4>

</body>
</html>